@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "pretendard";
  src: url("font/PretendardVariable.woff2") format("font-woff2");
  src: url("font/PretendardVariable.woff") format("woff");
}
@layer base {
  html {
    font-family: pretendard, sans-serif;
  }
  h1 {
    @apply text-[1.25rem] leading-[150%] font-semibold;
  }
  h2 {
    @apply text-[1.125rem] leading-[150%] font-semibold;
  }
  h3 {
    @apply text-[.875rem] leading-[150%];
  }
}

@layer components {
  .body-s {
    @apply text-[.625rem] font-medium leading-none;
  }
  .body-m {
    @apply text-[.875rem] leading-none;
  }
  .body-l {
    @apply text-[1.125rem] leading-[150%] font-semibold;
  }

  .btn-s {
    @apply test-[.875rem] leading-none font-semibold;
  }
  .btn-m {
    @apply test-[1rem] leading-none font-semibold;
  }
  .btn-l {
    @apply test-[1.125rem] leading-none font-semibold;
  }

  .slider-container {
    width: 100vw;
    height: 300px;
    padding-top: 20px;
    background-color: white;
    overflow-x: hidden;
  }

  .slick-slider {
    background-color: white;
    height: 100%;
  }
  .slick-slide {
    transition: all 0.3s;
    opacity: 0.6;
    margin: 0 15px;
  }

  .slick-center {
    transform: scale(1.08);
    opacity: 1;
  }

  .slick-list {
    margin: 0 -15px;
  }

  .slick-slider-item {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .fixed-size {
    width: 220px;
    margin: 0 auto;
    padding: 0 10px;
    height: 266px;
    border-radius: 12px;
    background-color: inherit;
  }
}
